<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<hr>
<div class="form-group">
  <label for="loging-button">To access the servers you need to activate the routes
    <button id="loging-button" class="btn btn-default" (click)="onLogin()">Loggin</button>
  </label>
</div>
<div class="form-group">
  <label for="logout-button">Click to logout and lose access to servers
    <button id="logout-button" class="btn btn-default" (click)="onLogout()">Logout</button>
  </label>
</div>


